In [282]:
import pandas as pd

In [283]:
file = '../files/TABELA ESTATÍSTICO_06-15-23 (3).xlsx'
file2 = '../files/TABELA ESTATÍSTICO_21-01-24.xlsx'

In [284]:
df_excel = pd.read_excel(file)
df_excel2 = pd.read_excel(file2)

/home/alexandre_pantalena/desenvolvimento/repos/langchain/langchain_venv/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [285]:
df_excel.head()

,id,Nome Paciente,Indicator_study,SAME,Data,Idade,Sexo,Estado Civil,Estado Civil 2,Escolaridade,...,MEDAS M6,Adesão ao MEDAS M6,Reinternação M3,Reinternação M6,Colesterol total(6M),Colesterol\nDesejável < 190 (6M),Triglicerideos (6M),Triglicerideos\nDesejável < 150 (6M),PCR2,Indicador de Risco Cardiovascular2
0,1,Dora Mattar Beyruti,1.0,11630850,2021-07-23,71,Feminino,casado,mora com companheiro(a),ensino superior completo,...,13,Sim,Não,Não,NaN,NaN,NaN,NaN,0.58,Alto
1,2,Flosir Cornelsen,1.0,11612014,2021-07-17,85,Masculino,casado,mora com companheiro(a),ensino superior completo,...,7,Não,Não,Não,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Regina Mª Gesualdi Candalaft,NaN,11600706,2021-07-17,65,Feminino,NaN,NaN,NaN,...,NaN,Não,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Baixo
3,4,Antonio Martins,1.0,11612320,2021-07-18,77,Masculino,casado,NaN,ensino superior completo,...,NaN,NaN,Não,NaN,195.0,Não,106.0,Sim,0.08,Baixo
4,6,Edson Kazuo Shiraga,1.0,11623068,2021-07-27,65,Masculino,divorciado,Sem companheiro/a,ensino superior completo,...,11,Sim,Não,Não,132.0,Sim,85.0,Sim,0.10,Intermediário

In [286]:
df_excel['MEDAS M3'].value_counts()

MEDAS M3
8                      18
11                     18
7                      15
9                      15
10                     14
12                     12
5                      11
6                      11
13                      8
4                       6
2022-04-01 00:00:00     4
3                       2
AGO                     2
2022-05-01 00:00:00     2
SET                     2
                        1
Name: count, dtype: int64

In [287]:
df_excel['MEDAS M3 INT'] = pd.to_numeric(df_excel['MEDAS M3'], errors="coerce")
df_excel['MEDAS M6 INT'] = pd.to_numeric(df_excel['MEDAS M6'], errors="coerce")

df_excel2['MEDAS M3 INT'] = pd.to_numeric(df_excel2['MEDAS M3'], errors="coerce")
df_excel2['MEDAS M6 INT'] = pd.to_numeric(df_excel2['MEDAS M6'], errors="coerce")

In [288]:
filtered_df = df_excel[df_excel[['MEDAS M3 INT', 'MEDAS M6 INT']].notnull().all(1)]
filtered_df2 = df_excel2[df_excel2[['MEDAS M3 INT', 'MEDAS M6 INT']].notnull().all(1)]

# Idade

In [289]:
filtered_df['Idade'].describe()

count    126.000000
mean      65.865079
std       11.763233
min       38.000000
25%       57.250000
50%       67.000000
75%       75.000000
max       91.000000
Name: Idade, dtype: float64

# Sexo

In [290]:
filtered_df['Sexo'].value_counts()

Sexo
Masculino    101
Feminino      25
Name: count, dtype: int64

In [291]:
filtered_df['Sexo'].value_counts(normalize=True) * 100

Sexo
Masculino    80.15873
Feminino     19.84127
Name: proportion, dtype: float64

# Escolaridade

In [292]:
filtered_df['Escolaridade 2'].value_counts()

Escolaridade 2
ensino superior       108
ensino médio           14
ensino fundamental      4
Name: count, dtype: int64

In [293]:
filtered_df['Escolaridade 2'].value_counts(normalize=True) * 100

Escolaridade 2
ensino superior       85.714286
ensino médio          11.111111
ensino fundamental     3.174603
Name: proportion, dtype: float64

# Estado civil

In [294]:
filtered_df['Estado Civil 2'].value_counts()

Estado Civil 2
mora com companheiro(a)    112
Sem companheiro/a           14
Name: count, dtype: int64

In [295]:
filtered_df['Estado Civil 2'].value_counts(normalize=True) * 100

Estado Civil 2
mora com companheiro(a)    88.888889
Sem companheiro/a          11.111111
Name: proportion, dtype: float64

# Religião

In [296]:
filtered_df['Religião 2'].value_counts()

Religião 2
Católico      98
Outros        24
Evangélico     4
Name: count, dtype: int64

In [297]:
filtered_df['Religião 2'].value_counts(normalize=True) * 100

Religião 2
Católico      77.777778
Outros        19.047619
Evangélico     3.174603
Name: proportion, dtype: float64

# Região

In [298]:
filtered_df['Região 2'].value_counts()

Região 2
Sudeste           92
Outras regiões    30
Sul                4
Name: count, dtype: int64

In [299]:
filtered_df['Região 2'].value_counts(normalize=True) * 100

Região 2
Sudeste           73.015873
Outras regiões    23.809524
Sul                3.174603
Name: proportion, dtype: float64

# Raça

In [300]:
filtered_df['Raça 2'].value_counts()

Raça 2
Branca        123
Não branca      3
Name: count, dtype: int64

In [301]:
filtered_df['Raça 2'].value_counts(normalize=True) * 100

Raça 2
Branca        97.619048
Não branca     2.380952
Name: proportion, dtype: float64

# Classificação da ocupação

In [302]:
filtered_df['Classificação da ocupação'].value_counts()

Classificação da ocupação
Economicamente ativos        107
Não economicamente ativos     19
Name: count, dtype: int64

In [303]:
filtered_df['Classificação da ocupação'].value_counts(normalize=True) * 100

Classificação da ocupação
Economicamente ativos        84.920635
Não economicamente ativos    15.079365
Name: proportion, dtype: float64

# Diagnóstico Médico

In [304]:
filtered_df['Diagnóstico Médico cat 2'].value_counts()

Diagnóstico Médico cat 2
DAC Crônica    90
DAC Aguda      36
Name: count, dtype: int64

In [305]:
filtered_df['Diagnóstico Médico cat 2'].value_counts(normalize=True) * 100

Diagnóstico Médico cat 2
DAC Crônica    71.428571
DAC Aguda      28.571429
Name: proportion, dtype: float64

# Antecedentes Pessoais

## Sedentarismo -> Atividade Física = Não

In [306]:
filtered_df['Atividade Física'].value_counts()

Atividade Física
Não    96
Sim    30
Name: count, dtype: int64

In [307]:
filtered_df['Atividade Física'].value_counts(normalize=True) * 100

Atividade Física
Não    76.190476
Sim    23.809524
Name: proportion, dtype: float64

## Hipercolesterolemia

In [308]:
filtered_df['Hipercolesterolemia'].value_counts()

Hipercolesterolemia
Sim    95
Não    31
Name: count, dtype: int64

In [309]:
filtered_df['Hipercolesterolemia'].value_counts(normalize=True) * 100

Hipercolesterolemia
Sim    75.396825
Não    24.603175
Name: proportion, dtype: float64

## Hipertensão Arterial Sistêmica

In [310]:
filtered_df['Hipertensão Arterial Sistêmica'].value_counts()

Hipertensão Arterial Sistêmica
Sim    88
Não    38
Name: count, dtype: int64

In [311]:
filtered_df['Hipertensão Arterial Sistêmica'].value_counts(normalize=True) * 100

Hipertensão Arterial Sistêmica
Sim    69.84127
Não    30.15873
Name: proportion, dtype: float64

## Diabetes Mellitus

In [312]:
filtered_df['Diabetes Mellitus'].value_counts()

Diabetes Mellitus
Não    81
Sim    45
Name: count, dtype: int64

In [313]:
filtered_df['Diabetes Mellitus'].value_counts(normalize=True) * 100

Diabetes Mellitus
Não    64.285714
Sim    35.714286
Name: proportion, dtype: float64

## Hipertrigliceridemia

In [314]:
filtered_df['Hipertrigiceridemia'].value_counts()

Hipertrigiceridemia
Não    92
Sim    34
Name: count, dtype: int64

In [315]:
filtered_df['Hipertrigiceridemia'].value_counts(normalize=True) * 100

Hipertrigiceridemia
Não    73.015873
Sim    26.984127
Name: proportion, dtype: float64

## Tabagismo

In [316]:
filtered_df['Tabagismo'].value_counts()

Tabagismo
Não             83
Ex-tabagismo    30
Sim             13
Name: count, dtype: int64

In [317]:
filtered_df['Tabagismo'].value_counts(normalize=True) * 100

Tabagismo
Não             65.873016
Ex-tabagismo    23.809524
Sim             10.317460
Name: proportion, dtype: float64

## Depressão

In [318]:
filtered_df['Depressão'].value_counts()

Depressão
Não    111
Sim     15
Name: count, dtype: int64

In [319]:
filtered_df['Depressão'].value_counts(normalize=True) * 100

Depressão
Não    88.095238
Sim    11.904762
Name: proportion, dtype: float64

## Ansiedade

In [320]:
filtered_df['Ansiedade'].value_counts()

Ansiedade
Não    113
Sim     13
Name: count, dtype: int64

In [321]:
filtered_df['Ansiedade'].value_counts(normalize=True) * 100

Ansiedade
Não    89.68254
Sim    10.31746
Name: proportion, dtype: float64

## Etilismo

In [322]:
filtered_df['Etilismo'].value_counts()

Etilismo
Não            119
Sim              6
Ex-etilista      1
Name: count, dtype: int64

In [323]:
filtered_df['Etilismo'].value_counts(normalize=True) * 100

Etilismo
Não            94.444444
Sim             4.761905
Ex-etilista     0.793651
Name: proportion, dtype: float64

# Tratamento realizado

In [324]:
filtered_df['Tratamento realizado'].value_counts()

Tratamento realizado
Angioplastia    99
Clínico         14
Cirurgico       13
Name: count, dtype: int64

In [325]:
filtered_df['Tratamento realizado'].value_counts(normalize=True) * 100

Tratamento realizado
Angioplastia    78.571429
Clínico         11.111111
Cirurgico       10.317460
Name: proportion, dtype: float64

# Peso (kg)

In [326]:
filtered_df['Peso (kg)'].describe()

count    126.000000
mean      80.517063
std       13.963210
min       46.000000
25%       73.262500
50%       78.000000
75%       89.000000
max      128.700000
Name: Peso (kg), dtype: float64

# Altura (m)

In [327]:
filtered_df['Altura (m)'].describe()

count    126.000000
mean     170.634921
std        8.445215
min      150.000000
25%      165.250000
50%      170.000000
75%      175.750000
max      196.000000
Name: Altura (m), dtype: float64

# IMC

In [328]:
filtered_df['IMC'].describe()

count    126.000000
mean      27.588609
std        3.866448
min       18.902038
25%       25.424742
50%       27.269164
75%       29.706953
max       42.385485
Name: IMC, dtype: float64

# Classificação IMC

In [329]:
filtered_df['Classificação IMC 2'].value_counts()

Classificação IMC 2
Sobrepeso    72
Obeso        27
Normal       27
Name: count, dtype: int64

In [330]:
filtered_df['Classificação IMC 2'].value_counts(normalize=True) * 100

Classificação IMC 2
Sobrepeso    57.142857
Obeso        21.428571
Normal       21.428571
Name: proportion, dtype: float64

# PCR

In [331]:
filtered_df['PCR'].describe()

count    114.000000
mean       0.679649
std        1.216018
min        0.030000
25%        0.102500
50%        0.220000
75%        0.640000
max        7.670000
Name: PCR, dtype: float64

In [332]:
# Ausência de resultado - True
filtered_df['PCR'].isnull().value_counts()

PCR
False    114
True      12
Name: count, dtype: int64

# Indicador de Risco Cardiovascular de acordo com PCR

In [333]:
filtered_df['Indicador de Risco Cardiovascular'].value_counts()

Indicador de Risco Cardiovascular
Alto             47
Intermediário    40
Baixo            27
Name: count, dtype: int64

In [334]:
filtered_df['Indicador de Risco Cardiovascular'].value_counts(normalize=True) * 100

Indicador de Risco Cardiovascular
Alto             41.228070
Intermediário    35.087719
Baixo            23.684211
Name: proportion, dtype: float64

In [335]:
# Ausência de resultado - True
filtered_df['Indicador de Risco Cardiovascular'].isnull().value_counts()

Indicador de Risco Cardiovascular
False    114
True      12
Name: count, dtype: int64

# Colesterol Total

In [336]:
filtered_df['Colesterol total'].describe()

count     85.000000
mean     170.141176
std       53.478111
min       70.000000
25%      140.000000
50%      160.000000
75%      203.000000
max      306.000000
Name: Colesterol total, dtype: float64

In [337]:
# Ausência de resultado - True
filtered_df['Colesterol total'].isnull().value_counts()

Colesterol total
False    85
True     41
Name: count, dtype: int64

# Colesterol Desejável < 190

In [338]:
filtered_df['Colesterol\nDesejável < 190'].value_counts()

Colesterol\nDesejável < 190
Sim    58
Não    25
Name: count, dtype: int64

In [339]:
filtered_df['Colesterol\nDesejável < 190'].value_counts(normalize=True) * 100

Colesterol\nDesejável < 190
Sim    69.879518
Não    30.120482
Name: proportion, dtype: float64

In [340]:
# Ausência de resultado - True
filtered_df['Colesterol\nDesejável < 190'].isnull().value_counts()

Colesterol\nDesejável < 190
False    83
True     43
Name: count, dtype: int64

# LDL

In [341]:
filtered_df2['LDL (0)'].describe()

count     85.000000
mean      98.235294
std       43.974735
min       18.000000
25%       72.000000
50%       89.000000
75%      124.000000
max      219.000000
Name: LDL (0), dtype: float64

In [342]:
# Ausência de resultado - True
filtered_df2['LDL (0)'].isnull().value_counts()

LDL (0)
False    85
True     41
Name: count, dtype: int64

# LDL Desejável <100

In [343]:
filtered_df2['LDL DESEJÁVEL (<90)'].value_counts()

LDL DESEJÁVEL (<90)
Sim    45
Não    40
Name: count, dtype: int64

In [344]:
filtered_df2['LDL DESEJÁVEL (<90)'].value_counts(normalize=True) * 100

LDL DESEJÁVEL (<90)
Sim    52.941176
Não    47.058824
Name: proportion, dtype: float64

In [345]:
# Ausência de resultado - True
filtered_df2['LDL DESEJÁVEL (<90)'].isnull().value_counts()

LDL DESEJÁVEL (<90)
False    85
True     41
Name: count, dtype: int64

# Triglicerídeos

In [346]:
filtered_df['Triglicerideos'].describe()

count     85.000000
mean     160.270588
std      112.144718
min       59.000000
25%       93.000000
50%      124.000000
75%      164.000000
max      563.000000
Name: Triglicerideos, dtype: float64

In [347]:
# Ausência de resultado - True
filtered_df['Triglicerideos'].isnull().value_counts()

Triglicerideos
False    85
True     41
Name: count, dtype: int64

# Triglicerídeos Desejável < 150

In [348]:
filtered_df['Triglicerideos\nDesejável < 150'].value_counts()

Triglicerideos\nDesejável < 150
Sim    59
Não    27
Name: count, dtype: int64

In [349]:
filtered_df['Triglicerideos\nDesejável < 150'].value_counts(normalize=True) * 100

Triglicerideos\nDesejável < 150
Sim    68.604651
Não    31.395349
Name: proportion, dtype: float64

In [350]:
# Ausência de resultado - True
filtered_df['Triglicerideos\nDesejável < 150'].isnull().value_counts()

Triglicerideos\nDesejável < 150
False    86
True     40
Name: count, dtype: int64

# Medicamento prescritos

## Antiagregantes

In [351]:
filtered_df['antiagregante'].value_counts()

antiagregante
Sim    97
Não    29
Name: count, dtype: int64

In [352]:
filtered_df['antiagregante'].value_counts(normalize=True) * 100

antiagregante
Sim    76.984127
Não    23.015873
Name: proportion, dtype: float64

## Hipolipomiante

In [353]:
filtered_df['Hipolipemiantes'].value_counts()

Hipolipemiantes
Sim    89
Não    37
Name: count, dtype: int64

In [354]:
filtered_df['Hipolipemiantes'].value_counts(normalize=True) * 100

Hipolipemiantes
Sim    70.634921
Não    29.365079
Name: proportion, dtype: float64

## Betabloqueadores

In [355]:
filtered_df['Betabloqueadores'].value_counts()

Betabloqueadores
Não    78
Sim    48
Name: count, dtype: int64

In [356]:
filtered_df['Betabloqueadores'].value_counts(normalize=True) * 100

Betabloqueadores
Não    61.904762
Sim    38.095238
Name: proportion, dtype: float64